/* body {
    background-image: url(../src/assets/thunderstorm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: blanchedalmond;
    min-height: 100vh;
    padding: 0;
  } */

